{% filter rewrap(text_width) %}
The source chirp mass falls with highest probability in the bin {{mchirp_bin}}
solar
{% if update_alert %}
masses after parameter estimation,
{% else %}
masses,
{% endif %}
assuming the candidate is astrophysical in origin.
{% if pipeline == 'cwb_bbh' %}
The redshift is assumed to be zero for cWB BBH chirp mass estimates.
{% endif %}

{% endfilter %}
