{% from 'macros.jinja2' import oxford_commas, evidence_for, probability,
                            naturalinstruments, naturalfar,
                            naturalclassifications, naturalpipelines,
                            naturalearlywarningpipelines,
                            renamegroup, citeskymap %}
{% filter rewrap(text_width) %}
We identified the {{renamegroup(group, pipeline, search)}} candidate {{gracedb_id}} during real-time processing of data from
{{naturalinstruments(instruments, )}} at {{utctime}} UTC (GPS time: {{gpstime}}).
The candidate was found by the {{naturalpipelines(all_pipelines, citation_index)}}
analysis pipeline{% if all_pipelines|length > 1 %}s{% endif %}.
{% if early_warning_alert and early_warning_pipelines %}
An early-warning alert was issued for this candidate, detected by the {{naturalearlywarningpipelines(early_warning_pipelines, citation_index)}} early-warning pipeline{% if early_warning_pipelines|length > 1 %}s{% endif %}.
{% endif %}

{% if change_significance_statement %}
Based on the analysis of gravitational-wave data alone, this candidate does not meet our criteria for a high-significance public alert.
However, a search performed by the RAVEN pipeline found a significant coincidence between this candidate and {{external_trigger}}.
{% else %}
{{gracedb_id}} is an event of interest because its false alarm rate, as
estimated by the online analysis, is {{naturalfar(far)}}.
{% endif %}
The event's properties can be found at this URL:

{{ gracedb_service_url }}{{ gracedb_id }}

{% if not update_alert %}
{% if classifications|length > 0 %}
{%- include 'p_astro.jinja2' -%}
{% endif %}
{% if source_classification|length > 0 %}
{%- include 'em_bright.jinja2' -%}
{% if mchirp_bin|length != 0 %}{%- include 'cgmi.jinja2' -%}{% endif %}
{% endif %}
{% if skymaps|length == 0 %}
No{% else %}{{ skymaps|length|apnumber|capitalize }}{% endif %} {% if combined_skymap is not defined %}sky map{% else %}GW-only sky map{% endif %}{% if skymaps|length == 1 %} is{% else %}s are{% endif %} available at this time{% if skymaps|length > 0 %} and can be retrieved from the GraceDB event page:{% else %}.{% endif %}

{% for skymap in skymaps %}
 * {{skymap.filename}}, an {% if skymap.alert_type in ['preliminary','initial'] %}initial{% elif skymap.alert_type == 'earlywarning' %}early-warning{% else %}updated{% endif %} localization generated by {{citeskymap(skymap.pipeline, citation_index)}}, distributed via GCN notice about {{skymap.latency|abs|naturaldelta}} {% if skymap.latency < 0 %}before {% else %}after {% endif %}the candidate event time.
{% endfor %}

{% if skymaps|length != 0 %}{%- include 'skymap_info.jinja2' -%}{% endif %}
{% endif %}
{% endfilter %}
