{% from 'macros.jinja2' import grbmission, propername %}
{% if detections|length > 0 %}
SUBJECT: {{grbmission(pipeline)}} {{propername(external_trigger)}}: Identification of a possible gravitational-wave counterpart
{% else %}
SUBJECT: {{grbmission(pipeline)}} {{propername(external_trigger)}}: Non-detection in gravitational waves
{% endif %}
